.App {
  padding-top: 8px;
  padding-bottom:80px;
  padding-left: 80px;
  padding-right: 50px;
}

.pagebanner {
  margin-top: 4px;
  width: auto;
  background-size: cover;
  height: 200px;
  background-position: center center;
}

.pagebanner-title {
  font-family: 'IBM Plex Sans';
  font-size: 48px;
  z-index: 5;
  color: rgb(235, 229, 242);
  padding-left: 420px;
  padding-top: 100px;
  white-space: nowrap;
}
.ButtonArea {
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 54px;
}

/* Container to enable perspective */
.tile-container {
  perspective: 1000px; /* Perspective for 3D effect */
}

.tile {
  position: relative;
  width: 250px;
  height: 200px;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  cursor: pointer;
  margin: 0 auto;
}

.tile:hover {
  transform: rotateY(180deg);
}

.tile-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.tile-front, .tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
}

.tile-front {
  background-color: #ffffff; /* Background for the front of the tile */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-back {
  background-color: #f4f6f9; /* Background for the back of the tile */
  color: #333; /* Text color for the back */
  transform: rotateY(180deg); /* Ensure the back side is hidden initially */
}

.icon-container {
  margin-bottom: 10px;
}

.description, .detail {
  font-size: 14px;
  line-height: 1.5;
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');


.custom-radio-button {
  display: none;
}


.custom-radio-button__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.custom-radio-button__appearance {
  box-sizing: border-box;
  padding: 0;
  border: 1px solid var(--cds-icon-primary, #161616);
  border-radius: 50%;
  background-color: transparent;
  block-size: 1.125rem;
  inline-size: 1.125rem;
  margin-block: 0.0625rem 0.125rem;
  margin-inline: 0.125rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-radio-button:checked + .custom-radio-button__label .custom-radio-button__appearance {
  border-color: var(--cds-icon-primary, #161616);
}


.custom-radio-button:checked + .custom-radio-button__label .custom-radio-button__appearance::before {
  content: '';
  display: inline-block;
  block-size: 0.625rem;
  inline-size: 0.625rem;
  background-color: var(--cds-icon-primary, #161616);
  border-radius: 50%;
}


.custom-radio-button__label-text {
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 0.625rem;
}


.custom-radio-button__label-text .cds--tooltip {
  margin-left: 8px;
  cursor: pointer;
}

.custom-radio-button__label-text .cds--popover-content {
  background-color: var(--cds-background, #f4f4f4);
  color: var(--cds-text, #161616);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgb(34,37,41);
  color: rgb(198,198,198);
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center
}