// @use '@/app/styles/resources' as *;

.demoModal {
  margin-top: 48px;
}

.modalBody{
  margin-top: 15px;
}

.modalHeader {
  font-weight: bold;
  font-size: larger;
}

.demoModalContainer {
  width: 100% !important;
  height: 100% !important;
  right: 0;
  position: absolute !important;
  max-height: unset !important;
}

.homeSidePanel {
  display: grid;
  justify-items: center;
  grid-template-rows: 0.7fr 0fr;

  .d2 {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
  }
}

.modalTitle {
  padding: 12px;
  margin-bottom: auto;

  & > h1 {
    margin: 10px 0;
    // @include type-style('heading-04');
  }

  & > p {
    color: rgba(111, 111, 111, 1);
    margin-bottom: 10px;
  }
}

.demoAppContainer {
  height: 100%;
  display: grid;
  margin-top: auto;
}

.demoApp {
  &:nth-child(2) {
    border-left: 1px solid lightgray;
  }
}

.reviewSidePanel {
  display: grid;
  row-gap: 3rem;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  align-items: end;
}

.btnAddnlStyle {
  align-items: center !important;
  font-size: 20px;
  padding-left: 3.5rem !important;
}

.btnAddnlStyleReview {
  @extend .btnAddnlStyle;
  width: 250px;
  // padding-left: 5rem !important;
  justify-content: center;
}

.source{
  margin-top: 1rem;
}