ibm-generative-ai==0.4.1
ibm-watson==7.0.1
ibm-watson-machine-learning
ibm_cloud_sdk_core==3.17.2
langchain==0.0.330
PyPDF2==3.0.1
unstructured==0.10.28
unstructured_pytesseract==0.3.12
unstructured_inference==0.7.24
opencv-python==4.8.1.78
pdf2image==1.16.3
pdfminer.six==20221105
python-dotenv==1.0.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
flask==3.0.0