# Product database access
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SCHEMA=ai_retail_xxxxxxxx

# Secrets
PASSWORD_HASH_SECRET=building_blocks_password_secret_2026
USER_PASSWORD=password
JWT_SECRET=building_blocks_jwt_secret_2026
SESSION_SECRET=building_blocks_session_secret_2026

# watsonx Orchestrate
# If building for Openshift, then provide the private url for your Orchestrate instance.  
# Main difference for IBM Cloud instances is the additional ".private".
# PUBLIC: https://api.<region>.watson-orchestrate.cloud.ibm.com/instances/xxxx
# Private: https://api.private.<region>.watson-orchestrate.cloud.ibm.com/xxxx
WO_INSTANCE_URL=
WO_INSTANCE_URL_PRIVATE=
WO_API_KEY=
WO_ADK_ENVIRONMENT=ibm_cloud

# IBM Cloud credentials
IBMCLOUD_API_KEY=
IBM_CLOUD_RESOURCE_GROUP=orbital-suppliers-rg

# IBM Cloud Container Registry (ICR)
# If the ICR_NAMESPACE has a suffix of xxxxxxxx, then this is the first run of this .env has been used.
# Replace the xxxxxxxx with a random sequences of 0-9 plus a-z
ICR_REGION=
ICR_NAMESPACE=orbital-suppliers-xxxxxxxx
ICR_HOSTNAME=us.icr.io

# OpenShift cluster
ROKS_CLUSTER_NAME=orbital-suppliers
ROKS_REGION=us-south
ROKS_WORKER_FLAVOR=cxf.8x16
ROKS_WORKER_COUNT=2
ROKS_OCP_VERSION=4.21_openshift

# OpenShift application namespace
OCP_NAMESPACE=orbital-suppliers

