VITE_BACKEND_URL=http://127.0.0.1:8000
VITE_API_KEY=wm
VITE_CHATBOT_NAME="Wealth Management Agent"
VITE_WELCOME_MESSAGE="Hi, I am a wealth management agent. How can I assist you today?"
# Set to 'true' to enable chat input, 'false' to disable it
VITE_ENABLE_CHAT=true
