<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>

  {{ partial "global-header.html" (dict "showBack" (.Params.showBack | default false)) }}

  {{ block "main" . }}{{ end }}

  {{ $drawer := resources.Get "js/drawer.js" | fingerprint }}
  <script src="{{ $drawer.RelPermalink }}" type="module" integrity="{{ $drawer.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ $slideshow := resources.Get "js/slideshow.js" | fingerprint }}
  <script src="{{ $slideshow.RelPermalink }}" defer integrity="{{ $slideshow.Data.Integrity }}" crossorigin="anonymous"></script>
</body>
</html>
