ibm-watson==7.0.0
ibm-cloud-sdk-core==3.16.7
ibm-watson-machine-learning==1.0.333
langchain==0.1.8
unstructured==0.12.4
unstructured_inference==0.7.24
pandas==1.5.3
pdf2image==1.17.0
pdfminer.six==20221105
python-dotenv==1.0.0
sentence-transformers==2.3.1
faiss-cpu==1.7.4
flask==2.2.5
pillow_heif==0.15.0
pikepdf==8.13.0
pypdf==4.0.2
bcrypt==4.1.2
requests==2.31.0
mysql-connector-python==8.3.0
sql_formatter==0.6.2
Werkzeug==2.2.3