*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.history
.DS_Store
**/*.DS_Store
*/.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
build
**/node_modules
*/node_modules
carbon_ui/node_modules
public/dist
lib
.apiconnect
.settings
.env
.angular
# credentials
credentials.json
creds.data
**/data/botkit
*/data/botkit
data/botkit

/dist
dist

mongodb_data
backend/public/*
!backend/public/index.html
!backend/public/apis/

config/*.json
!config

/venv
venv

# *.ipynb*
